
# User-specific files
*.suo
*.user
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
packages/

# Visual Studio cache files
*.vsidx
*.vscode/

# Database files
# Note: Normally we should exclude database files from version control,
# but for this educational project, I'm 'making an exception for
# staging and production databases since they're small and contain
# no sensitive information and would be public-facing inside the application itself anyway.

*.db
*.db-shm
*.db-wal

# Exceptions for staging and production databases (To test that backups are being made)
# Exceptions for staging and production databases
!DataPrivacyAuditTool/dpat_staging
!DataPrivacyAuditTool/dpat_production
