
# User-specific files
*.suo
*.user
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
packages/

# Visual Studio cache files
*.vsidx
*.vscode/

# Database files
*.db
dpat_*.db
*.db-shm
*.db-wal
dpat_development.db
dpat_staging.db
dpat_production.db
